<h1>INDEX</h1>

<nav>

	<li><a href ="/index">INDEX</a></li>
	<li><a href ="/about">ABOUT</a></li>
	<li><a href ="/contact">CONTACT</a></li>
	<li><a href ="/browse">BROWSE</a></li>
	<li><a href ="/apply">APPLY</a></li>
	
</nav>
